@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  font-size: 1rem;
  font-weight: 400;
  background-color: #000000;
  color: white;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 2px solid #f3a246;
}